apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: store-api-hpa
  namespace: kubestore
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: store-api
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50 # ¡Si pasa del 50% de uso, CREA MÁS!
