apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-cart
  namespace: kubestore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-cart
  template:
    metadata:
      labels:
        app: redis-cart
    spec:
      containers:
      - name: redis
        image: redis:alpine
        command: ["/bin/sh", "-c"]
        args: ["redis-server /redis-master/redis.conf --requirepass $REDIS_PASSWORD"]  
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis-password
              key: password
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: config
          mountPath: /redis-master
      volumes:
      - name: config
        configMap:
          name: redis-config
---
apiVersion: v1
kind: Service
metadata:
  name: redis-cart
  namespace: kubestore
spec:
  ports:
  - port: 6379
  selector:
    app: redis-cart
